@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap);

// Font Variables
$roboto-slab: 'Robotob', serif;   
$open-sans: 'Open Sans', sans-serif;

body{
    padding-bottom: 50px;
    font-family: 'Roboto', sans-serif !important;
}